# Entorno
.env

# Backend
backend/vendor/
backend/.env
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
backend/storage/api-docs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Docker
*.bak
.DS_Store
